*{
    padding: 0;
    margin: 0;
    box-sizing: bord;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;

}

.Art {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url(/asset/Arriere-plan.jfif);
}

.Art-content {
    
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin: 4rem;   
}

.center h1 {
    margin-top: 10px;
    color: white;
    font-size: 4rem;
    text-align: center;
}

.Art-content img {
    /* justify-content: space-evenly; */
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-top: 0;

}

.box {
    padding: 5px;
    border-radius: 15px;
    background: rgb(39 39 42/var(--tw-bg-opacity));
    transition: all .38s ease;
    cursor: pointer;
    /* background-color: yellow; */
}

.box:hover {
    transform: translate(-10px);
    background: rgba(244, 241, 241, 0.479);
    margin: 0;
}

.box h3 {
    font-size: 23px;
    font-weight: 600;
    color: white;
    margin-top: 10px;
}

.box h3:hover {
    color: black;
}


.box h5 {
    font-size: 15px;
    font-weight: 600;
    color: rgba(241, 234, 234, 0.679);
    margin-top: 15px;
    letter-spacing: 2px;
}

.icons i{
    display: inline-block;
    color: white;
    font-size: 20px;
    margin: 0 8px;
    margin-bottom: 50px;
    transform: all .38s ease;
} 


.icons i:hover {

    color: #454446 ;
    transform: scale (1.2);
}

.boxRecherche{
    /* background-color: aquamarine; */
    border-radius: 20px;
    margin: auto;
    margin-top: 1%;
    position: relative;
    width: 600px;
    border: 3px solid;
    padding: 0 10px;
    color: #e5e7eb;
}

.elementsRecherche{
    /* background-color: aquamarine; */
    width: 100%;
    height: 100%;
    vertical-align: middle;
}


.Recherche {
    border: none;
    height: 100%;
    width: 100%;
    text-align: center ;
    padding: 0 5px;
    border-right: 10px;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
}

.Recherche:focus {
    outline: none;
}

::placeholder{
    color: #e5e7eb;

}


@media (max-width: 1240px) {

    body {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .Art {
        /* display: flex;
        justify-content: center;
        align-items: center; */
        width: 100%;
        height: auto;        
        padding: 90px 2%;
    }

    .center h1{
        /* display: flex;
        justify-content: center;
        align-items: center; */
        font-size: 40px;
    }

    .boxRecherche{
        /* display: flex;
        justify-content: center;
        align-items: center; */
        width: 80%;
        height: auto;
        padding: 5px 2%;
    }

    .Art-content {
    
        display: grid;
        grid-template-columns: 195px 195px;
        width: 50%;
        height: auto;
        /* margin: 5px; */
        gap: 0.1px;
        /* text-align: center; */
        justify-content: center;
        align-items: center;
    }
    

}
@media (max-width: 320px) {

    body {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .Art {
        /* display: flex;
        justify-content: center;
        align-items: center; */
        width: 100%;
        height: auto;        
        padding: 90px 2%;
    }

    .center h1{
        /* display: flex;
        justify-content: center;
        align-items: center; */
        font-size: 40px;
    }

    .boxRecherche{
        /* display: flex;
        justify-content: center;
        align-items: center; */
        width: 80%;
        height: auto;
        padding: 5px 2%;
    }

    .Art-content {
    
        display: grid;
        grid-template-columns: 195px 195px;
        width: 50%;
        height: auto;
        /* margin: 5px; */
        gap: 0.1px;
        /* text-align: center; */
        justify-content: center;
        align-items: center;
    }
    

}










